extends layout

block content

  h2#calendarTitle.text-center 
    div.calendar-title-icon
    span Citizen Assembly Calendar

  div#calendarMenu.row.text-center
  
    span.col-6.text-center
    
      button#createEvent.btn.btn-default.calendar-action
        i.calendar-icon.calendar-type-icon.ic_create_event
        span.calendar-type-name Create Event
      button#downloadCSV.btn.btn-default.calendar-action
        i.calendar-icon.calendar-type-icon.ic_download_sheet
        span.calendar-type-name Download CSV
        
    span.col-6.text-center

      button#calendarTypeDaily.btn.btn-default.calendar-type
        i.calendar-icon.calendar-type-icon.ic_view_day
        span.calendar-type-name Daily

      button#calendarTypeWeekly.btn.btn-default.calendar-type
        i.calendar-icon.calendar-type-icon.ic_view_week
        span.calendar-type-name Weekly

      button#calendarTypeMonthly.btn.btn-default.calendar-type
        i.calendar-icon.calendar-type-icon.ic_view_month
        span.calendar-type-name Monthly

  div#calendarNavigator.row

    div.col-sm.text-center
      button#movePrev.btn.btn-default.btn-sm.move-day
        i.calendar-icon.ic-arrow-line-left
        span#prevLabel Prev Day

    div.col-sm.text-center.cur-month
      span#monthLabel Month, Year

    div.col-sm.text-center
      button#moveNext.btn.btn-default.btn-sm.move-day
        span#nextLabel Next Day
        i.calendar-icon.ic-arrow-line-right

  div#calendar
  
  input#events(type="hidden", value=JSON.stringify(events))

block scripts
  script(src='/js/moment.min.js')
  script(src='/js/moment-timezone.min.js')

  script(src='/js/tui-code-snippet.min.js')
  script(src='/js/tui-calendar.min.js')

  script(src='/js/app-calendar.js')
