doctype html
html
  head
    title Citizen Assembly

    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='Citizen Assembly')
    meta(name='author' content='Cezary Jurewicz')

    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav(class='navbar navbar-expand navbar-dark fixed-top bg-dark')
        div(class='container-fluid')
          a(class='navbar-brand', href='/')
            span(style="margin-left: 20px; margin-right: 30px;") Citizen Assembly
          ul(class='navbar-nav me-auto mb-2 mb-md-0')
            li(class='nav-item nav-link active')
              img(src="/images/icon_home.png", style="height:30px;")
              span(style="vertical-align: middle; margin-left: 3px;") Home
            li(class='nav-item nav-link')
              img(src="/images/icon_calendar.png", style="height:30px;")
              span(style="vertical-align: middle; margin-left: 3px;") Calendar
            li(class='nav-item nav-link')
              img(src="/images/icon_findus.png", style="height:30px;")
              span(style="vertical-align: middle; margin-left: 3px;") Find Us
            li(class='nav-item nav-link')
              img(src="/images/icon_team.png", style="height:30px;")
              span(style="vertical-align: middle; margin-left: 3px;") Our Team
            li(class='nav-item nav-link')
              img(src="/images/icon_donate.png", style="height:30px;")
              span(style="vertical-align: middle; margin-left: 3px;") Donate
          a(class='navbar-brand')
            img(src="/images/logo_top.png", style="height:40px;")

    main
      block content

    footer(class="bg-dark text-center text-white" style="padding-top: 1rem; padding-bottom: 0.5rem;")
      span(style="font-style: italic;")
        | Copyright (C) &nbsp;
        span(style="color: GreenYellow;") Citizen Assembly
        br
        | General Public License v3
        br
      img(src="/images/logo_bottom.png", style="height:40px;")

    script(src='/javascripts/bootstrap.min.js')
