/* -------------------------------------------------- */
/*  CUSTOMIZE THE BODY                                */
/* -------------------------------------------------- */

body {
  padding-top: 3rem;
  padding-bottom: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

/* -------------------------------------------------- */
/*  CUSTOMIZE THE NAVIGATION BAR                      */
/* -------------------------------------------------- */

/* navigation bar */
.navbar {
  justify-content: flex-start;
}

/* navigation bar: menu button frame */
.navbar-toggler {
  margin-left: 15px;
  width: 30px;
  padding: 0px;
}

/* navigation bar: menu button icon */
.navbar-toggler-icon {
  width: 15px;
}

/* navigation bar: brand title */
.navbar-brand {
  margin-left: 15px;
  font-size: 13pt;
  cursor: default;
}

/* navigation bar: navigation menu */
.navbar-nav {
  margin-left: 15px;
}

/* navigation bar: navigation menu text */
.nav-text {
  line-height: 20px;
  vertical-align: middle;
}

/* navigation bar: navigation menu icons */
.nav-icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  display: inline-block;
  background-size: cover;
  background-position: center;
}
.nav-icon-home {
  background-image: url("/images/icon_home.png");
}
.nav-icon-team {
  background-image: url("/images/icon_team.png");
}
.nav-icon-calendar {
  background-image: url("/images/icon_calendar.png");
}
.nav-icon-videos {
  background-image: url("/images/icon_videos.png");
}
.nav-icon-meetups {
  background-image: url("/images/icon_meetups.png");
}
.nav-icon-partners {
  background-image: url("/images/icon_partners.png");
}
.nav-icon-admin {
  background-image: url("/images/icon_admin.png");
}
.nav-icon-donate {
  background-image: url("/images/icon_donate.png");
}

/* navigation bar: navigation menu logo */
.navbar-logo {
  position: fixed;
  top: 8px;
  right: 15px;
  width: 90px;
  height: 35px;
  background: url('/images/logo_top.png');
  background-size: cover;
}

/* -------------------------------------------------- */
/*  CUSTOMIZE THE FOOTER                              */
/* -------------------------------------------------- */

/* footer box */
.footer-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 100%;
}

/* the text inside footer box */
.footer-text {
  padding: 0;
  margin: 0;
}

/* Citizen Assembly name in the footer */
.footer-brand {
  color: GreenYellow;
}

/* Citizen Assembly logo in the footer */
.footer-logo {
  width: 100px;
  height: 40px;
  display: inline-block;
  background: url('/images/logo_bottom.png');
  background-size: cover;
}

/* -------------------------------------------------- */
/*  CUSTOMIZE THE CAROUSEL                            */
/* -------------------------------------------------- */

/* Carousel container */
.carousel {
  margin-bottom: 0px;
}

/* Carousel first slide */
.carousel1 {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ),
    url("/images/carousel1_bg.jpg");
  background-size: cover;
  background-position: center;
  height: 25rem;
}

/* Carousel second slide */
.carousel2 {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ),
    url("/images/carousel2_bg.jpg");
  background-size: cover;
  background-position: center;
  height: 25rem;
}

/* Carousel third slide */
.carousel3 {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ),
    url("/images/carousel3_bg.jpg");
  background-size: cover;
  background-position: center;
  height: 25rem;
}

/* Carousel caption */
.carousel-caption {
  bottom: 2rem;
  z-index: 10;
  cursor: default;
}
.carousel-title {
  color: Yellow;
}
.carousel-text {
  color: lightyellow;
}

/* Carousel buttons */
.carousel-control-prev-icon {
 background-image: url("/images/carousel_left.png") !important;
}
.carousel-control-next-icon {
  background-image: url("/images/carousel_right.png") !important;
}

/* -------------------------------------------------- */
/*  CUSTOMIZE QUICK LINKS                             */
/* -------------------------------------------------- */

/* quick links container */
.quickies {
  width: 100%;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}

/* quick link icon circles */
.circle {
  width: 140px;
  height: 140px;
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: inline-block;
  background-size: cover;
  background-position: center;
}
.circle-team {
  background-image: url("/images/our_team.jpg");
}
.circle-calendar {
  background-image: url("/images/our_calendar.jpg");
}
.circle-videos {
  background-image: url("/images/our_videos.jpg");
}

/* -------------------------------------------------- */
/*  CUSTOMIZE DIVIDER LINE                            */
/* -------------------------------------------------- */

.divider {
  margin-left: 6rem;
  margin-right: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* -------------------------------------------------- */
/*  CUSTOMIZE PROMOTIONAL VIDEO                       */
/* -------------------------------------------------- */

/* promotional video div */
.promo {
  text-align: center;
  margin-top: 3rem;
}

/* promotional video description text */
.promo-text  {
  max-width: 500px;
  display: inline-block;
}

/* promotional video box which contains youtube part */
.promo-video {
  width: 90vw;
  height: 80vw;
  max-width: 700px;
  max-height: 450px;
  margin-top: 1rem;
  margin-bottom: 0rem;
  display: inline-block;
}

/* promotional video thumbnail */
.promo-thumb {
  background-image: url('/images/video-thumb.png');
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

/* hide youtube frame under the thumbnail */
.promo-youtube {
  display: none;
}

/* -------------------------------------------------- */
/*  CUSTOMIZE MEETUP GROUPS                           */
/* -------------------------------------------------- */

.meetup {
  max-width: 80vw;
  margin: 0 auto;
}

.meetup-thumb {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  margin-top: 20px;
  display: inline-block;
  background-image: url('/images/meetup-thumb.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 50em) {
  .meetup-heading {
    margin-top: 5rem;
  }
}

/* -------------------------------------------------- */
/*  CUSTOMIZE PARTNERS                                */
/* -------------------------------------------------- */

.partners {
  max-width: 80vw;
  margin: 0 auto;
}

.partners-thumb {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  margin-top: 20px;
  display: inline-block;
  background-image: url('/images/partners-thumb.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 50em) {
  .meetup-heading {
    margin-top: 5rem;
  }
}

/* -------------------------------------------------- */
/*  CUSTOMIZE EVENTT FORM                             */
/* -------------------------------------------------- */

.form-group {
  margin-bottom: 1rem;
}

.control-label {
  font-weight: bold;
  padding-top: 4px;
}

/* event form title */
.event-heading {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* event form: title icons */
.event-icon {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  vertical-align: middle;
}
.event-icon-new {
  background-image: url("/images/event-new.png");
}
.event-icon-view {
  background-image: url("/images/event-view.png");
}
.event-icon-update {
  background-image: url("/images/event-update.png");
}
.event-icon-clone {
  background-image: url("/images/event-clone.png");
}
.event-icon-delete {
  background-image: url("/images/event-delete.png");
}
.event-icon-restore {
  background-image: url("/images/event-restore.png");
}

.form-select[readonly], .form-control[readonly] {
    background-color: #faf9ed;
    opacity: 1;
}

/* -------------------------------------------------- */
/*  CUSTOMIZE ERROR                                   */
/* -------------------------------------------------- */

.error {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100vw;
}
